<section id="benefits" class="team_section padding">
    <div class="container">
            <div class="container">
                <h2 class="dark-color text-center">Переваги членства:</h2>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="feature_wrap">
                        <ul class="feature_items">
                            <li class="feature_item">
                                <div class="feature_icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div data-aos="fade-left" class="feature_content">
                                    <p class="h4">- Лобіювання інтересів членів у центральних органах державного управління України </p>
                                    <br/>
                                    <p class="h4">- Підтримка ініціативи роботодавців на всеукраїнському рівні</p>
                                    <br/>
                                    <p class="h4">- Оперативне інформування про стан справ у галузі</p>
                                    <br/>
                                    <p class="h4">- Організація заходів та зустрічей з метою вирішення важливих питань в галузі</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
