<section id="contacts" class="team_section padding">
    <div class="container">
            <div class="container">
                <h2 class="dark-color text-center">Наші контакти</h2>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="feature_wrap">
                        <ul class="feature_items">
                            <li class="feature_item">
                                <div class="feature_icon">
                                    <i class="fa fa-address-book"></i>
                                </div>
                                <div data-aos="fade-left" class="feature_content">
                                    <p class="h4"> Адреса: </p>
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <p class="h4">вул. Михайла Коцюбинського, будинок 1, офіс 405</p>
                                            <br/>
                                            <p class="h4"> Україна, м. Київ, 01030</p>
                                            <br/>
                                            <br/>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p class="h4">
                                                Телефон:
                                                <%= link_to '(044) 225 70-17', 'tel:+380442257017' %>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p class="h4">
                                                Email:
                                                <%= mail_to 'auiaepdrhp@gmail.com' %>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
