<section id="laws" class="feature_section padding">
    <h2 class="text-center">Законодавча База</h2>
    <br/>
    <div class="feature_img">
        <div class="container">
            <div class="col-md-11 col-md-offset-1 col-sm-10 col-sm-offset-2">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <h3>Закони України</h3>
                                <p>- "Про організації роботодавців, їх об'єднання, права і гарантії їх діяльності"</p>
                                <p>- "Про соціальний діалог в Україні" </p>
                                <p>- "Основи законодавства України про загальнообов'язкове державне соціальне страхування"</p>
                                <p>- "Про колективні договори і угоди" </p>
                                <p>- "Про порядок вирішення колективних трудових спорів (конфліктів)" </p>
                                <p>- "Про загальнообов'язкове державне пенсійне страхування" </p>
                                <p>- "Про загальнообов'язкове державне соціальне страхування від нещасного випадку на виробництві та професійного захворювання, які спричинили втрату працездатності" </p>
                                <p>- "Про загальнообов'язкове державне соціальне страхування на випадок безробіття" </p>
                                <p>- "Про загальнообов'язкове державне соціальне страхування у зв'язку з тимчасовою втратою працездатності та витратами, зумовленими похованням" </p>
                                <p>- "Про Кабінет Міністрів України"</p>
                                <p>- "Про професійні спілки, їх права та гарантії діяльності"</p>
                                <p>- "Про центральні органи виконавчої влади" </p>
                                <p>- "Про доступ до публічної інформації" </p>
                                <p>- "Про порядок висвітлення діяльності органів державної влади та органів місцевого самоврядування в Україні засобами масової інформації" </p>
                            </div>
                        </li>
                        <br/>
                        <br/>
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-book"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <h3>Укази Президента України</h3>
                                <p>- "Про Національну тристоронню соціально-економічну раду" </p>
                                <p>- "Про утворення Національної служби посередництва і примирення" </p>
                            </div>
                        </li>
                        <br/>
                        <br/>
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bookmark"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <h3>Наказ Національної служби посередництва і примирення</h3>
                                <p>- "Порядок оцінки відповідності критеріям репрезентативності та підтвердження репрезентативності суб'єктів сторін профспілок та організацій роботодавців" </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Features -->
        </div>
    </div>
</section>
