<section id="management" class="team_section padding" style="padding-left: 60px;">
  <div data-aos="fade-up" class="section_heading pb-60 aos-init aos-animate">
      <h2 class="dark-color">Керівництво</h2>
  </div><!-- Section Heading -->
  <div class="row">
  	<div class="col-sm-12 col-md-3">
      <ul class="team_members">
          <li data-aos="zoom-in" data-aos-delay="300" class=" team_member aos-init aos-animate">
              <figure class="member_thumb">
                <%= image_tag 'member.jpg', alt: 'Organization mamangement' %>
              </figure>
              <div class="member_info">
                  <h4>Ернест Володимирович</h4>
                  <h4>Скібінський</h4>
                  <p>Голова Об'єднання</p>
              </div>
          </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9">
			<p>Народився 05 жовтня 1966 року у м. Львів.</p>
			<br/>
			<p>Освіта:</p>
			<p>1987-1990рр. - Політехнікум ім. Фрунзе м. Ленінград. Спеціальність - технік-технолог протезного виробництва.</p>
			<p>1999-2003рр. - Тернопільська академія народного господарства. Спеціальність - економіка підприємства.</p>
			<p>2004-2005рр. - Харківський національний університет радіоелектроніки. Спеціальність – Інженер-електронік.</p>
			<br/>
			<p>Робота:</p>
			<p>З 1983 року - Львівське експериментальне підприємство засобів пересування і протезування - Токар.</p>
			<p>З 1990 року - Львівське експериментальне Підприємство засобів пересування і протезування - Технік-технолог.</p>
			<p>З 1994 року - ТОВ «РЕАБІЛІТАЦІЯ» м.Львів – Директор.</p>
			<p>З 1997 року - Львівське казенне експериментальне підприємство засобів пересування і протезування – Директор.</p>
			<p>З 2003 року - Промислове об’єднання «УКПРОТЕЗ» - Генеральний директор.</p>
			<p>З 2005 року - ВАТ «Більшовик» м. Київ - Заступник генерального директора.</p>
			<p>З 2006 року - Фонд соціального захисту інвалідів – Директор.</p>
			<p>З 2009 року - Федерація роботодавців України - Заступник генерального директора.</p>
			<p>З 2010 року - Фонд соціального захисту інвалідів - Директор.</p>
			<p>З 2014 року - Центральне правління українського товариства глухих - Заступник голови правління.</p>
			<p>З 2016 року – Голова ВГООРВТЗРМВ.</p>
    </div>
  </div>
  <br/>
</section>