<section id="news" class="blog_section">
	<% @posts.each do |post| %>

	    <div class="container padding">

	        <div data-aos="fade-up" class="section_heading pb-60 aos-init aos-animate">
	          <h2 class="dark-color"> <%= post.title %> </h2>
	        </div>

	        <div class="row">
	        	<div class="col-sm-12 col-md-10 col-md-offset-1">
	        		<%= post.body.html_safe %>
	        		<br/>
	        		<p class="text-muted pull-right"> <%= post.created_at.strftime('%H:%M %e.%m.%Yр.') %> </p>
	        	</div>
	        </div>

	    </div>
	<% end %>
</section>