<section id="become_partner" class="feature_section padding">
    <h2 class="text-center"> Як стати членом Об’єднання </h2>
    <br/>
    <p class="h4 text-center">Членами Об’єднання можуть бути організації роботодавців, їх об’єднання,</p>
    <p class="h4 text-center">створені відповідно до Закону України «Про організації роботодавців, їх об’єднання, права і гарантії їх діяльності».</p>
    <br/>
    <p class="h4 text-center">Організаціям роботодавців, їх об’єднанням для вступу до Об’єднання потрібно подати наступні документи:</p>
    <br/>
    <div class="feature_img">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">1</div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4">
                                	<%= link_to 'Письмове звернення', '/Заява_для_оформлення_членства.docx' %>
                                	(заяву) до Президії про вступ до Всеукраїнського галузевого об’єднання організацій роботодавців-виробників технічних засобів реабілітації та медичних виробів із зобов’язанням виконувати вимоги Статуту ВГООРВТЗРМВ та сплачувати членські внески.</p>
                            </div>
                        </li>
                        <li class="feature_item">
                            <div class="feature_icon">2</div>
                            <br/>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Рішення відповідного органу організації (об’єднання) про вступ до складу ВГООРВТЗРМВ.</p>
                            </div>
                        </li>
                        <br/>
                        <li class="feature_item">
                            <div class="feature_icon">3</div>
                            <br/>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Копію статуту організації роботодавців (об’єднання).</p>
                            </div>
                        </li>
                        <br/>
                        <li class="feature_item">
                            <div class="feature_icon">4</div>
                            <br/>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Копію виписки про державну реєстрацію організації роботодавців (об’єднання).</p>
                            </div>
                        </li>
                        <br/>
                        <li class="feature_item">
                            <div class="feature_icon">5</div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Дані щодо роботодавців, організацій роботодавців, які входять до організації чи об'єднання, кількості найманих працівників, які працюють у роботодавців членів організацій, інформацію щодо виборних органів у формі, затвердженій Президією ВГООРВТЗРМВ.</p>
                            </div>
                        </li>
                        <li class="feature_item">
                            <div class="feature_icon">6</div>
                            <br/>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Іншу інформацію на вимогу Президії Об’єднання.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
