<section id="partnership" class="feature_section padding">
    <h2 class="text-center"> Члени об'єднання </h2>
    <br/>
    <div class="feature_img">
        <div class="container">
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Вінницька обласна організація роботодавців-виробників </p>
                                <p class="h4"> ортопедичного устаткування та засобів пересування</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Київська міська організація роботодавців-виробників</p>
                                <p class="h4"> ортопедичного устаткування</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Харківська обласна організація роботодавців-виробників медичного,</p>
                                <p class="h4"> хірургічного та ортопедичного устаткування «Харків-Ортопром»</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Львівська обласна організація роботодавців підприємств</p>
                                <p class="h4"> ортопедичної галузі «Львів-Орто»</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Одеська обласна організація роботодавців-виробників</p>
                              	<p class="h4"> ортопедичного устаткування</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Полтавська обласна організація роботодавців-виробників</p>
                                <p class="h4"> ортопедичного, медичного, реабілітаційного обладнання</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <p class="h4"> Організація роботодавців </p>
                                <p class="h4"> «Донецька обласна організація виробників ортопедичних пристосовань»</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Features -->
        </div>
    </div>
</section>
