<section id="representation" class="feature_section padding">
    <h2 class="text-center">Робочі органи, в яких ми представлені:</h2>
    <br/>
    <div class="feature_img">
        <div class="container">
            <div class="col-md-11 col-md-offset-1 col-sm-10 col-sm-offset-2">
                <div class="feature_wrap">
                    <ul class="feature_items">
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <br/>
                                <p class="h4">Рада Федерації роботодавців України</p>
                                <br/>
                            </div>
                        </li>
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <br/>
                                <p class="h4">Спільний представницький орган сторони роботодавців на національному рівні</p>
                                <br/>
                            </div>
                        </li>
                        <li class="feature_item">
                            <div class="feature_icon">
                                <i class="fa fa-bank"></i>
                            </div>
                            <div data-aos="fade-left" class="feature_content">
                                <br/>
                                <p class="h4">Правління Фонду соціального страхування</p>
                                <br/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
