<section id="about" class="feature_section padding">
    <div class="container">
        <h2 class="text-center"> Наші завдання та пріорітети </h2>
        <!-- Section Heading -->
        <div class="feature_img">
            <div class="container">
                <div class="col-md-11 col-md-offset-1 col-sm-10 col-sm-offset-2">
                    <div class="feature_wrap">
                        <ul class="feature_items">
                            <li class="feature_item" id="tasks">
                                <div class="feature_icon">
                                    <i class="fa fa-thumb-tack"></i>
                                </div>
                                <div data-aos="fade-left" class="feature_content">
                                    <h3> Завдання </h3>
                                    <p>- Забезпечення представництва та захисту прав та законних інтересів роботодавців-виробників технічних засобів реабілітації та медичних виробів у економічній, соціальній, трудовій та інших сферах</p>
                                    <p>- Підвищення конкурентноспроможності національної економіки</p>
                                    <p>- Сприяння збільшенню обсягів виробництва продукції та послуг</p>
                                    <br/>
                                </div>
                            </li>
                            <li class="feature_item" id="priorities">
                                <div class="feature_icon">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                                <div data-aos="fade-left" class="feature_content">
                                    <h3> Пріорітети </h3>
                                    <p>- Запровадження рівноправних конкурентних умов на національному ринку</p>
                                    <p>- Сприяння створенню робочих місць</p>
                                    <p>- Організація навчання, підготовки та перепідготовки техніків-протезистів та інших спеціалістів, задіяних у виробництві технічних засобів реабілітації та медичних виробів</p>
                                    <p>- Захист прав та законних інтересів підприємств, що виготовляють технічні засоби реабілітації та медичні вироби</p>
                                    <br/>
                                </div>
                            </li>
                            <li class="feature_item" id="activity">
                                <div class="feature_icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div data-aos="fade-left" class="feature_content">
                                    <h3>Діяльність</h3>
                                    <p>- Внесення до органів державної влади пропозицій, пов’язаних з діяльність об’єднання</p>
                                    <p>- Участь у веденні переговорів з укладення галузевої угоди та делегування своїх представників до органів соціального діалогу</p>
                                    <p>- Сприяння розвитку та впровадженню новітніх технологій у сфері виробництва технічних та інших засобів реабілітації</p>
                                    <p>- Сприяння вдосконаленню системи професійно-технічної та вищої освіти її орієнтації на ринок праці</p>
                                    <br/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
