<section class="cta_section padding">
    <div class="container">
        <div class="cta_content align-center">
        		<h3>Членами Об’єднання можуть бути організації роботодавців, їх об’єднання,створені відповідно до</h3>
        		<h3>Закону України «Про організації роботодавців, їх об’єднання, права і гарантії їх діяльності».</h3>
            <%= link_to 'Як стати членом Об’єднання?', partnership_path, class: 'text-center more_project_btn' %>
        </div>
    </div>
</section>
