<section id="home" class="hero_section">
    <div class="container">
        <div class="hero_content hidden-sm hidden-xs">
            <div class='m-t-200'></div>
            <div class='row'>
                <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center'>
                    <%= image_tag 'logo', class: 'home_logo' %>
                </div>
                <div class='col-lg-9 col-md-9 col-sm-12 col-xs-12'>
                    <h1 class="big_title">Всеукраїнське галузеве об’єднання організацій роботодавців-виробників технічних засобів реабілітації та медичних виробів </h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center'>
                    <br/>
                    <br/>
                    <a href="#about" class="hexa_btn"> Дізнатись більше </a>
                </div>
            </div>
        </div>

        <div class="hero_content hidden-lg hidden-md">
            <div class='text-center'>
                <br/>
                <%= image_tag 'logo', class: 'home_logo_small' %>
                <br/><br/>
                <h1 class="big_title">Всеукраїнське галузеве об’єднання організацій роботодавців-виробників технічних засобів реабілітації та медичних виробів </h1>
                <br/>
                <br/>
                <a href="#about" class="hexa_btn"> Дізнатись більше </a>
            </div>
        </div>
    </div>
</section>
