<section id="home" class="hero_section">
    <div id="particles-js"></div>
    <div class="container">
        <div class="hero_inner">
            <div class="table-cell">
                <div class="hero_content">
                    <h1 class="big_title">Всеукраїнське галузеве об’єднання організацій роботодавців-виробників технічних засобів реабілітації та медичних виробів </h1>
                    <a href="#about" class="hexa_btn"> Дізнатись більше </a>
                </div>
            </div>
        </div>
    </div>
</section>
