<section class="cta_section padding">
    <div class="container">
        <div class="cta_content align-center">
            <h2>Ми об’єднуємо підприємства, що виготовляють ТЗР та медичні вироби.</h2>
            <h2>Та активно представляємо інтереси роботодавців на галузевому рівні!</h2>
            <div data-aos="zoom-in" class="btn_anim">
                <a href="#map" class="more_project_btn">Зв'яжіться з нами!</a>
            </div>
        </div>
    </div>
</section>
