<footer class="footer_section">
    <div class="container">
        <div class="col-sm-6">
        		<br/>
        		<br/>
            <p>
            	<b>Тел.</b> -
            	<%= link_to '(044) 225 70-17', 'tel:+380442257017' %>
            </p>
            <p>
            	<b>Ел.пошта</b> -
            	<%= mail_to 'auiaepdrhp@gmail.com' %>
            </p>
            <br/>
            <p class="copyright">Copyright&copy; 2017. Всі права захищено.</p>
        </div>
        <div class="col-sm-6">
        		<br/>
        		<br/>
            <div class="right-footer">
                <p><b>Адреса</b> - Україна, м. Київ, 01030</p>
                <p>вул. Михайла Коцюбинського, будинок 1, офіс 405</p>
                <br/>
                <ul class="footer_social">
                    <li><a href="https://www.facebook.com/Всеукраїнське-обєднання-організацій-роботодавців-виробників-ТЗР-1244760795635705" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.facebook.com/Всеукраїнське-обєднання-організацій-роботодавців-виробників-ТЗР-1244760795635705" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/Всеукраїнське-обєднання-організацій-роботодавців-виробників-ТЗР-1244760795635705" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.facebook.com/Всеукраїнське-обєднання-організацій-роботодавців-виробників-ТЗР-1244760795635705" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</footer>