<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!-- LOADER -->
<div class="loader">
    <div class="tt-loading-center">
        <div class="tt-loading-center-absolute">
            <div class="tt-object object_four"></div>
            <div class="tt-object object_three"></div>
            <div class="tt-object object_two"></div>
            <div class="tt-object object_one"></div>
        </div>
    </div>
    <div id="loading-text">Завантаження...</div>
</div>
<!--LOADER -->